.page-layout {
    font-family: Arial, sans-serif;
    height: calc(100vh - 90px);
    padding: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .page-layout::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
  .content {
    padding: 20px;
    border-radius: 10px;
    width: 75%;
  }
  .coachMainImg{
    margin-left: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .coachName{
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .coachSports{
    padding: 0 10px;
    margin-top: 5px;
  }