.batch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ffffff; */
    border-radius: 10px;
    padding: 10px;
    /* margin-bottom: 15px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    width: 100%;
  }
  .container{
    display: flex;
  }
  .batch-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .batch-info {
    /* flex-grow: 1; */
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .batch-info h3 {
    font-size: 12px;
    margin: 0;
    color: #383E43;
  }
  
  .batch-info p {
    font-size: 10px;
    color: #6D92A0;
    margin: 0;
  }
  
  .unregister-btn {
    background-color: #E8EEF2;
    color: #383E43;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
  }
  