.topBar{
  border-radius: 20px 20px 0 0;
  background-color:#F8FAFB;
  border-bottom: 1px solid #DEE7ED;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 3rem;
    margin: 0;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .menu a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
  
  .menu img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .loginButton{
    padding: 5px 10px;
    background-color: #E8EEF2;
    color: #383E43;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .registerButton{
    padding: 5px 10px;
    background-color: #383E43;
    color: #E8EEF2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }