.student-list {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .student-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
  .student-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  .open-profile-btn {
    background-color: #E8EEF2;
    color: #383E43;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
  }
  